.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-left: 21px;
}

.advantages__list {
  list-style-type: none;
  margin-left: 21px;
  margin-right: 21px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 49px;
}

.advantages__item {
  &::before {
    position: absolute;
    background-color: @green;
    background-repeat: no-repeat;
    padding: 14px 15px;
    width: 30px;
    height: 32px;
  }
  &--leaf::before {
    content: url("../img/advantages/advantages_leaf.svg");
  }
  &--tub::before {
    content: url("../img/advantages/advantages_tub.svg");
  }
  &--eat::before {
    content: url("../img/advantages/advantages_eat.svg");
  }
  &--alarm::before {
    content: url("../img/advantages/advantages_alarm.svg");
  }
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.advantages__description {
  color: @dark-grey;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0;
  margin-left: 80px;
}
