.advantages {
  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @special-white-2;
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 40px 21px;
  padding-top: 20px;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 72px 30px;
    padding-top: 45px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 71px;
    margin-left: 110px;
  }
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  padding-bottom: 29px;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 104px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  &::before {
    background-color: @green;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
  }

  &--leaf::before {
    content: url("../img/advantages/advantages_leaf.svg");
  }

  &--tub::before {
    content: url("../img/advantages/advantages_tub.svg");
  }

  &--eat::before {
    content: url("../img/advantages/advantages_eat.svg");
  }

  &--alarm::before {
    content: url("../img/advantages/advantages_alarm.svg");
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    margin: 0;

    &::before {
      width: 80px;
      height: 80px;
      line-height: 95px;
    }

    &::after {
      position: absolute;
      font-size: 280px;
      color: @gray;
      left: 118px;
      top: 85px;
      z-index: -1;
    }

    &--leaf::after {
      content: "1";
    }

    &--tub::after {
      content: "2";
    }

    &--eat::after {
      content: "3";
    }

    &--alarm::after {
      content: "4";
    }
  }
}

.advantages__description {
  margin: 0;
  margin-left: 20px;
  width: 199px;
  color: @dark-grey;
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    width: 245px;
    margin: 31px 0 134px;
    font-size: 16px;
    line-height: 24px;
  }
}
