.contacts {
  padding-top: 26px;

  &--grey {
    background-color: @gray;
  }

  @media (min-width: @tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: @desktop-width) {
    background-color: @white;
    padding: 0;
  }
}

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    position: absolute;
  }
}

.contacts__title-wrapper {
  background-color: @white;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 56px 80px;
    width: 405px;
    margin: 95px 0 0 110px;
  }
}

.contacts__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-black;

  @media (min-width: @tablet-width) {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  margin: 0;
  font-family: @arial;
  font-size: 14px;
  line-height: 20px;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    width: 160px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts__map-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 362px;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
