.copyright__link-wrapper {
  align-items: center;
  width: 281px;
  margin: 0 auto;
  display: flex;
  line-height: 100%;
  padding-top: 22px;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 163px;
    padding: 0;
  }
}

.copyright__link {
  color: @dark-grey;
  text-decoration: none;
}
