.example__wrapper {
  background-color: #EAEAEA;
  padding: 25px 20px 40px;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.example__description {
  font-family: "Arial";
  margin-top: 40px;
  margin-bottom: 20px;
  color: @dark-grey;
  font-size: 14px;
  line-height: 18px;
}

.example__list {
  display: flex;
  margin: 0;
}

.example__item {
  position: relative;
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  border: 1px solid @speecial-grey;
  border-radius: 3px;
  &--weight-loss {
    width: 39px;
    padding: 13px 41px 17px 42px;
  }
  &--weight-gain {
    width: 82px;
    padding: 13px 20px 17px 20px;
    margin-left: 32px;
  }
}

.example__number-description {
  display: block;
  color: @dark-grey;
  font-size: 12px;
  line-height: 100%;
  position: absolute;
  top: 46px;
  text-align: center;
  margin: 0;
  background-color: #EAEAEA;
  width: 59px;
  padding-left: 14px;
  padding-right: 14px;
  &--weight-loss {
    left: 18px;
  }
  &--weight-gain {
    left: 50px;
  }
}

.example__stats {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 34px;
  margin-bottom: 40px;
}

