.extra {
  border-top: 1px solid @special-grey-2;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.extra__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.extra__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding: 25px 0 36px;
  margin: 0 19px;
  border-bottom: 1px solid @special-grey;

  @media (min-width: @tablet-width) {
    border: none;
    font-size: 36px;
    line-height: 36px;
    padding: 68px 67px 70px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 75px 110px 81px;
  }
}

.extra__container {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 110px 86px;
  }
}

.extra__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin: 0 30px 0;
    border: 1px solid @special-grey;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    border: none;
    margin: 0;
  }
}
