.extra__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding: 25px 75px 36px 19px;
  margin: 0;
  border-bottom: 1px solid @speecial-grey;
}

.extra__list {
  list-style-type: none;
  padding: 0;
  margin-top: 13px;
  margin-bottom: 35px;
}
