.extra-product {
  border-bottom: 1px solid @special-grey;
  padding: 13px 0 18px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 25px 38px 28px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    padding: 16px 0 16px;
    width: 894px;
    justify-content: space-between;
  }
}

.extra-product__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 612px;
    margin: 0;
    align-items: center;
  }
}

.extra-product__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @dark-grey-2;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
}

.extra-product__description-wrapper {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    display: grid;
    margin: 0;
    min-width: 225px;
    grid-template-columns: 132px 44px;
    gap: 51px;
    justify-items: end;
    justify-content: end;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    justify-items: start;
  }
}

.extra-product__description-item {
  margin: 0;
  font-family: @arial;
  color: @dark-grey;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.extra-product__button {
  display: inline-block;
  width: 280px;
  background-color: @green;
  color: @white;
  border: none;
  font-family: @oswald;
  font-size: 16px;
  line-height: 38px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 632px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
  }
}
