.extra-product {
  padding-bottom: 19px;
  border-bottom: 1px solid @speecial-grey;
}

.extra-product__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @dark-grey-2;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 20px;
  margin-right: 20px;
}

.extra-product__description-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: "Arial";
  font-size: 14px;
  line-height: 14px;
  margin-left: 20px;
  margin-right: 20px;
  }

  .extra-product__description-item {
    margin: 0;
  }

  .extra-product__button {
    display: inline-block;
    width: 280px;
    height: 40px;
    background-color: @green;
    color: @white;
    border: none;
    font-family: 'Oswald';
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }

