.gift {
  padding: 35px 20px 0;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.gift__text {
  position: relative;
  font-family: @arial;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @white;
  box-shadow: inset 0 290px @green-3;
  background-image: url("../img/gift/gift-cat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 187px 61px 43px 58px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift/gift-cat@2x.jpg");
    background-size: 279px auto;
  }

  &::before {
    content: url("../img/gift/gift-gift.svg");
    position: absolute;
    top: 59px;
    left: 101px;
  }

  @media (min-width: @tablet-width) {
    padding: 71px 124px 69px 422px;
    text-align: left;
    background-image: url("../img/gift/gift-cat-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift/gift-cat-tablet@2x.jpg");
      background-size: 707px auto;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 185px 43px 42px 41px;
    text-align: center;
    background-image: url("../img/gift/gift-cat-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift/gift-cat-desktop@2x.jpg");
      background-size: 245px auto;
    }

    &::before {
      left: 84px;
    }
  }
}
