.main-header {
  @media (min-width: @tablet-width) {
    padding-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 67px;
  }
}

.main-header__wrapper {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}
