.main-footer {
  background-color: @gray;

  @media (max-width: @mobile-width-only) {
    padding: 39px 0 22px;
    background-color: @gray;
  }
}

.main-footer__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.main-footer__tablet {
  flex-direction: column;
  display: flex;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 57px 30px 55px;
  }

  @media (min-width: @desktop-width) {
    padding: 57px 110px 58px;
  }
}

.main-footer__logo {
  line-height: 0;
  text-align: center;
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
    margin-right: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 28px;
  }
}

.main-footer__logo-icon {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
