.page {
  height: 100%;
  font-size: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 30px;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
  background-color: #FFFFFF;
  color: #000000;
  width: 320px;
}

