.product {
  padding: 19px 0 25px;
  text-align: center;
  border-top: 1px solid @special-grey-2;
}

.product__wrapper {
  justify-content: center;
  display: grid;
  grid-template-columns: 140px 141px;
  align-items: center;
}

.product__image {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.product__name {
  text-align: left;
  width: 76px;
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark-grey-2;

  &--order {
    width: auto;
    text-align: center;
    margin: 23px 0 8px;
  }
}

.product__description-wrapper {
  display: flex;
  justify-content: space-between;
}

.product__description-item {
  margin: 0;
  padding: 0;
  font-family: @arial;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}

.product__button {
  display: inline-block;
  width: 280px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  background-color: @green;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin-top: 22px;

  &--order {
    background-color: @gray;
    border: none;
    color: @dark-grey;
    padding: 0;
    margin-top: 21px;
  }
}

