.programs {
  padding: 10px 0;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 82px;
  }
}

.programs__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.programs__list {
  list-style-type: none;
  padding: 0 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 110px;
  }
}

.programs__item {
  position: relative;
  background-color: @gray;

  &--slim {
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      margin-bottom: 30px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: @green-4;
    border-radius: 50%;
    left: 22px;
    top: 24px;
  }

  &::after {
    position: absolute;
  }

  &--slim::after {
    content: url("../img/programs/programs-slim.svg");
    left: 29px;
    top: 21px;

    @media (min-width: @tablet-width) {
      left: 446px;
    }
  }

  &--pro::after {
    content: url("../img/programs/programs-pro.svg");
    left: 13px;
    top: 35px;

    @media (min-width: @tablet-width) {
      left: 446px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin: 0;
  }
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-left: 91px;
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 53px;
    padding-top: 77px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 214px;
  }
}

.programs__description {
  color: @dark-grey;
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  padding: 0 33px 23px 20px;
  margin: 0;
  margin-top: 29px;
  border-bottom: 1px solid @special-grey-4;

  @media (min-width: @tablet-width) {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    color: @black;
    border: none;
    padding: 0;
    margin: 24px 316px 52px 52px;
  }

  @media (min-width: @desktop-width) {
    width: 467px;
    margin: 73px 51px 27px 52px;
  }
}

.programs__button {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
  padding: 15px 0 18px 19px;

  &::after {
    content: url("../img/programs/programs-arrow.svg");
    margin-left: 15px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 57px 52px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 59px 52px;
  }
}
