.program {
  padding: 27px 0 32px;

  @media (min-width: @tablet-width) {
    padding: 31px 0 72px;
  }

  @media (min-width: @desktop-width) {
    padding: 37px 0 82px;
  }
}

.program__wrapper {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}

.program__main-title {
  font-weight: 400;

  @media (max-width: @mobile-width-only) {
    width: 280px;
    font-size: 36px;
    line-height: 36px;
    margin: 0 auto 37px;
  }

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-right: 200px;
    margin: 0 auto;
    margin-bottom: 54px;
    width: 432px;
    white-space: nowrap;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    margin-bottom: 56px;
    padding-right: 790px;
  }
}

.program__description {
  text-transform: uppercase;

  @media (max-width: @mobile-width-only) {
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto 39px;
    width: 280px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-right: 303px;
    width: 323px;
    margin: 0 auto 66px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 895px;
  }
}

.program__top-wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 569px 570px;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }
}

.program__fieldset {
  width: 280px;
  border: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  gap: 14px;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    gap: 20px;
    width: 630px;
    margin: 0 auto;

    &--top {
      padding-left: 3px;
    }

    &--contacts {
      padding-left: 3px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    padding: 0;

    &--contacts {
      width: 1220px;
    }
  }

  &--choice {
    gap: 13px;
    padding-bottom: 18px;

    @media (min-width: @tablet-width) {
      gap: 13px;
    }
  }

  &--textarea {
    padding-bottom: 23px;
  }
}

.program__contacts-fieldset-wrapper {
  display: grid;
  gap: 14px;

  @media (min-width: @tablet-width) {
    gap: 20px;
    width: 634px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 569px 572px;
    gap: 78px;
  }
}

.program__label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--choice {
    display: grid;
    grid-template-columns: 30px 231px;
    gap: 16px;
    justify-content: left;

    @media (min-width: @tablet-width) {
      grid-template-columns: 40px 231px;
      gap: 20px;
    }
  }
}

.program__text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
  white-space: nowrap;

  &--choice {
    margin: 0;
    color: @dark-grey-2;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &--email {
      padding-left: 3px;
    }
  }

  @media (min-width: @desktop-width) {
    &--email {
      padding-left: 0;
    }
  }
}

.program__input {
  border: 1px solid @special-white-3;
  font-family: @oswald;
  font-size: 16px;
  line-height: 43px;
  color: @dark-grey;
  text-transform: uppercase;
  padding: 0;

  &:hover {
    border-color: @special-grey;
  }

  &:focus {
    &:focus {
      outline: none;
      border: 1px solid @dark-grey;
      box-shadow: inset 0 0 0 1px @dark-grey;
    }
  }

  &::-webkit-outer-spin-button {
    appearance: none;
  }

  &.program__input::-webkit-inner-spin-button {
    appearance: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 50px;
  }

  &--name {
    width: 199px;
    padding: 0 14px;

    @media (min-width: @tablet-width) {
      width: 529px;
      padding: 0 18px;
    }

    @media (min-width: @desktop-width) {
      width: 466px;
      padding: 0 19px;
    }
  }

  &--weight {
    width: 172px;
    padding: 0 15px;

    @media (min-width: @tablet-width) {
      width: 496px;
      padding: 0 19px;
    }

    @media (min-width: @desktop-width) {
      width: 437px;
      padding: 0 18px;
    }
  }

  &--age {
    width: 140px;
    padding: 0 15px;

    @media (min-width: @tablet-width) {
      width: 457px;
      padding: 0 19px;
    }

    @media (min-width: @desktop-width) {
      width: 400px;
      padding: 0 17px;
    }
  }

  &--email {
    width: 153px;
    padding-left: 14px;
    padding-right: 50px;

    @media (min-width: @tablet-width) {
      width: 478px;
      padding-left: 21px;
      padding-right: 50px;
    }

    @media (min-width: @desktop-width) {
      width: 416px;
      padding-left: 18px;
      padding-right: 50px;
    }
  }

  &--phone {
    width: 137px;
    padding-left: 15px;
    padding-right: 50px;

    @media (min-width: @tablet-width) {
      width: 462px;
      padding-left: 21px;
      padding-right: 50px;
    }

    @media (min-width: @desktop-width) {
      width: 403px;
      padding-left: 17px;
      padding-right: 50px;
    }
  }
}

.program__input:focus + .program__icon {
  color: @green-4;
  border: none;
}

.program__radiobuttons-wrapper {
  padding: 0;
  padding-top: 22px;
  border-top: 1px solid @special-grey-4;
  border-bottom: 1px solid @special-grey-4;

  @media (min-width: @tablet-width) {
    border: 1px solid @special-grey-4;
    padding: 25px 28px 5px;
    width: 572px;
    margin: 48px auto 0;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 28px 0;
    margin: 0;
    width: 512px;
  }
}

.program__fieldset-wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.program__title-line {
  height: 2px;
  background: linear-gradient(to right, @white 50%, @green-4 50%);
  transform: translateY(43px);
  margin-top: -2px;

  &--comment {
    transform: translateY(17px);
  }

  &--additionally {
    transform: translateY(16px);
  }

  @media (min-width: @tablet-width) {
    background: @green-4;
    transform: translateY(100px);

    &--comment {
      transform: translateY(66px);
    }

    &--additionally {
      transform: translateY(67px);
    }
  }

  @media (min-width: @desktop-width) {
    transform: translateY(93px);

    &--comment {
      transform: translateY(91px);
    }

    &--additionally {
      transform: translateY(69px);
    }
  }
}

.program__title {
  position: relative;
  display: inline-block;
  width: 187px;
  background: @white;
  padding: 0 14px 0 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 25px 0 35px;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 75px 0 76px 30px;
    padding: 0 42px 0 39px;
    white-space: nowrap;
    width: 512px;
  }

  @media (min-width: @desktop-width) {
    margin: 69px 0 76px 70px;
    padding: 0 40px;
  }

  &--textarea {
    width: 121px;
    margin: 0;
    margin-bottom: 38px;
    padding-right: 22px;

    @media (min-width: @tablet-width) {
      margin: 42px 0 76px 30px;
      width: 182px;
      padding-right: 38px;
    }

    @media (min-width: @desktop-width) {
      margin: 67px 0 76px 70px;
      padding: 0 40px;
    }
  }

  &--checkbox {
    width: 141px;
    margin: 0;
    margin-bottom: 34px;
    padding-right: 23px;

    @media (min-width: @tablet-width) {
      margin: 42px 0 57px 30px;
      width: 211px;
      padding-right: 41px;
    }

    @media (min-width: @desktop-width) {
      margin: 44px 0 57px 70px;
      padding: 0 40px;
      width: 212px;
    }
  }
}

.program__title-br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.program__textarea {
  width: 250px;
  height: 133px;
  padding: 8px 14px;
  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid @special-white-3;
  color: @dark-grey;
  resize: none;

  &:hover {
    border-color: @special-grey;
  }

  &:focus {
    outline: none;
    border: 1px solid @dark-grey;
    box-shadow: inset 0 0 0 1px @dark-grey;
  }

  @media (min-width: @tablet-width) {
    width: 593px;
    height: 154px;
    font-size: 20px;
    line-height: 30px;
    padding: 9px 18px;
    margin-left: 5px;
  }

  @media (min-width: @desktop-width) {
    width: 1182px;
    margin-left: 0;
  }
}

.program__icon {
  position: absolute;
  fill: @white;

  &--email {
    right: 16px;
  }

  &--phone {
    right: 13px;
  }

  @media (min-width: @tablet-width) {
    right: 18px;
  }

  @media (min-width: @desktop-width) {
    &--phone {
      right: 16px;
    }
  }
}

.program__radiobutton {
  border-radius: 50%;
  border: 1px solid @special-grey;
  width: 28px;
  height: 28px;

  &:hover {
    border-color: @border-hover;
  }

  &:focus {
    border-color: @border-hover;
  }

  @media (min-width: @tablet-width) {
    width: 38px;
    height: 38px;
  }
}

.program__checkbox {
  border: 1px solid @special-grey;
  width: 28px;
  height: 28px;

  &:hover {
    border-color: @border-hover;
  }

  &:focus {
    border-color: @border-hover;
  }

  &:disabled {
    border-color: @border-hover;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 38px;
    height: 38px;
  }
}

.program__checkbox-wrapper {
  display: grid;
  gap: 12px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 220px 220px;
    gap: 32px 124px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 325px 325px 325px 325px;
    gap: 0;
    padding-left: 80px;
  }
}

.program__form-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;

  @media (min-width: @tablet-width) {
    margin: 36px auto 0;
    display: grid;
    gap: 61px;
    grid-template-columns: 1fr 1fr;
    width: 628px;
  }

  @media (min-width: @desktop-width) {
    margin: 43px auto 0;
    gap: 81px;
    width: 1220px;
  }
}

.program__button {
  width: 280px;
  padding: 0;
  font-family: @oswald;
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  color: @white;
  background-color: @green;
  border: none;
  margin-bottom: 21px;
  cursor: pointer;

  &:hover {
    background-color: @green-2;
  }

  &:focus {
    background-color: @green-2;
  }

  &:active {
    background-color: @green-2;
    color: @white-opacity;
  }

  @media (min-width: @tablet-width) {
    width: 282px;
    line-height: 52px;
    margin: 0;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.program__asterisk {
  font-family: @arial;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    margin: 0;
  }
}

.control-input:disabled + .program__radiobutton {
  border-color: @border-hover;
}

.control-input:disabled + .program__checkbox {
  border-color: @border-hover;
}

.control-input:disabled ~ .program__text {
  opacity: 0.3;
}

.control-input:checked + .program__checkbox {
  background-image: url("../img/program/program-checkbox.svg");
  background-repeat: no-repeat;
  background-size: 18px 14px;
  display: block;
  background-position: center;

  @media (min-width: @tablet-width) {
    background-size: 24px 19px;
  }
}

.control-input:checked + .program__radiobutton {
  background-image: url("../img/program/program-radiobutton.svg");
  background-repeat: no-repeat;
  background-size: 14px;
  display: block;
  background-position: center;

  @media (min-width: @tablet-width) {
    background-size: 18px;
  }
}
