.slider {
  margin: 0 auto;
  width: 280px;
  height: 256px;
  display: flex;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 43px;
    left: 770px;
  }
}

.slider__image img {
  height: 100%;
  object-fit: cover;
}

.slider__image--pro img {
  object-position: left;
}

.slider__image--slim img {
  object-position: right;
}


.slider__toggle {
  position: absolute;
  right: calc(50% - 2px);
  width: 4px;
  height: 256px;
  border-radius: 2px;
  background-color: @special-grey-3;

  @media (min-width: @tablet-width) {
    height: 512px;
  }
}

.slider__button {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  border: 2px solid @special-grey-3;
  background-color: @white;
  line-height: 0;
}
