.slider__wrapper {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__image {
  position: absolute;
  width: 100%;
  height: 100%;

  &--pro {
    background-image: url("../img/slider/slider-pro-mobile.png");
    width: 50%;
    z-index: 2;
    border-right: 2px solid @special-grey-3;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/slider/slider-pro-mobile@2x.png");
      background-size: 280px auto;
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/slider/slider-pro-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/slider/slider-pro-tablet@2x.png");
        background-size: 560px auto;
      }
    }
  }

  &--slim {
    background-image: url("../img/slider/slider-slim-mobile.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/slider/slider-slim-mobile@2x.png");
      background-size: 280px auto;
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/slider/slider-slim-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/slider/slider-slim-tablet@2x.png");
        background-size: 560px auto;
      }
    }
  }
}

.slider__thumb {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: @white;
  border: 2px solid @special-grey-3;
  border-radius: 50%;
  z-index: 3;
  top: calc(50% - 40px);
  left: calc(50% - 20px);
}

.slider__thumb-icon {
  padding: 11px 8px;
}
