.social__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 20px 66px 21px;
  margin: 0;
  line-height: 0;
  border-top: 1px solid @special-grey-4;
  border-bottom: 1px solid @special-grey-4;

  @media (min-width: @tablet-width) {
    width: 132px;
    padding: 0;
    border: none;
  }
}
