.social__list {
  display: grid;
  gap: 24px;
  grid-template-columns: 28px 28px 28px;
  list-style-type: none;
  padding: 20px 74px 20px;
  margin: 0;
  line-height: 0;
  border-top: 1px solid @special-grey-4;
  border-bottom: 1px solid @special-grey-4;

  @media (min-width: @tablet-width) {
    width: 132px;
    padding: 0;
    border: none;
  }
}
